# Local
.DS_Store
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
src/proto
tools
/manifest_build.json

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
